<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	template="/template/layoutBase.xhtml">

	<ui:define name="corpo">
		<script type="text/javascript">
		</script>

		<h:form method="get" class="form-horizontal" id="form"
			onkeypress="return event.keyCode != 13">

			<div id="wrapper">
				<div id="page-wrapper" class="gray-bg">
					<div class="wrapper wrapper-content">
						<div class="container">

							<div
								class="row wrapper border-bottom white-bg page-heading ng-scope">
								<div class="col-lg-10">
									<h2>Cadastro de Carros</h2>
									<ol class="breadcrumb">
										<li><a href="/CaedTesteJSF/">Home</a></li>
										<li><a>Caed Teste / JSF </a></li>
										<li class="active"><strong>Cadastro</strong></li>
									</ol>
								</div>
								<div class="col-lg-2"></div>
							</div>


							<div class="wrapper wrapper-content animated fadeInRight">
								<p:messages id="mensagemErro" autoUpdate="true" />

								<div class="ibox-title" id="divTituloCadastro">

									<h5>Cadastro / Inserção</h5>

								</div>

								<div class="ibox float-e-margins" id="divIbox">
									<div class="ibox-content" id="divConteudo">


										<div class="row">
											<div class="col-md-12">
												<label class="col-form-label" for="regra">Nome Carro<b
													class="text-danger">*</b></label> <input
													jsf:disabled="#{regraPontuacaoCadastroController.registroSalvo}"
													type="text" id="regra" name="nome" class="form-control"
													onkeyup="this.value = this.value.toUpperCase();"
													jsf:value="#{carRegisterController.objRegister.name}" />
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<label class="col-form-label" for="idadeInicio">Cor
													<b class="text-danger">*</b>
												</label> <input type="text" id="idadeInicio" maxlength="50"
													name="Cor" class="form-control"
													jsf:value="#{carRegisterController.objRegister.color}" />
											</div>

											<div class="col-md-2">
												<label class="col-form-label" for="pontuacao">Ano<b
													class="text-danger">*</b></label> <input
													jsf:disabled="#{regraPontuacaoCadastroController.registroSalvo}"
													type="number" id="Ano" class="form-control" maxlength="4"
													jsf:value="#{carRegisterController.objRegister.year}" />
											</div>

										</div>
										<div class="hr-line-dashed"></div>
										
										
										<div class="row">
											<div class="col-sm-12">
												<div class="ibox-tools">

													<h:link rendered="#{carRegisterController.savedRecord eq false}" 
													   class="btn btn-white" id="cancelar_rodape" value="CANCELAR" 
													   outcome="pretty:index" />
													   
													<h:link rendered="#{carRegisterController.savedRecord eq true}" 
													   class="btn btn-white" id="voltar" value="VOLTAR" 
													   outcome="pretty:index" />


													<p:commandLink styleClass="btn btn-primary" value="SALVAR"
														id="salvar" action="#{carRegisterController.save()}"
														ajax="false" />

												</div>

											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
