<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	template="/template/layoutBase.xhtml">

	<ui:define name="corpo">
				<h:form method="get" class="form-horizontal" id="formulario"
		onkeypress="return event.keyCode != 13">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
   
        <div class="wrapper wrapper-content">
            <div class="container">
	
				<div class="row wrapper border-bottom white-bg page-heading ng-scope">
					<div class="col-lg-12">
						<h2>Listagem de Carros</h2>
						<ol class="breadcrumb">
							<li><a href="/CaedTesteJSF/">Home</a></li>
							<li><a>Caed / Teste  </a></li>
							<li class="active"><strong>Listagem</strong></li>
						</ol>
					</div>
					<div class="col-lg-2"></div>
				</div>


			<div class="wrapper wrapper-content animated fadeInRight">
				<p:messages id="mensagemErro" autoUpdate="true" />

				<div class="ibox-title">
					<h5>Listagem</h5>
					
					<div class="ibox-tools">
						<p:commandLink styleClass="btn btn-primary" 
							value="NOVO CARRO" id="novo"
							action="pretty:car_register" 
							ajax="false" >
						</p:commandLink>
					</div>
					
				</div>				

				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<div id="editable_wrapper"
									class="dataTables_wrapper form-inline dt-bootstrap">

									<div class="row">
										<div class="col-lg-12">
											<div class="ibox-tools">												
													<p:commandLink styleClass="btn btn-primary" value="EXCEL" 
													ajax="false">
													<p:dataExporter type="xls" target="gridDados"
														fileName="carros"/>
												</p:commandLink>
											</div>

											<p:dataTable emptyMessage="Lista vazia" 
												styleClass="table table-striped table-bordered table-hover  dataTable"
												var="objeto" id="gridDados"
												value="#{carController.cars}" 
												rowIndexVar="rowIndex" paginator="true" rows="10" 
												lazy="true" >
												
												<p:column class="sorting_asc" headerText="Id " width="20" style="text-align: center;  font-size:12px ">
													<h:outputText value="#{objeto.id}" />
												</p:column>																																	
												
												<p:column class="sorting_asc" headerText="Nome" width="2" style="text-align: center;  font-size:12px ">
													<h:outputText value="#{objeto.name}"/>
												</p:column>
												
												<p:column class="sorting_asc" headerText="Cor" width="10"  style="text-align: center; font-size:12px">
													<h:outputText value="#{objeto.color} " style="font-size:11px" />
												</p:column>	
												
												<p:column class="sorting_asc" headerText="Ano" width="10"  style="text-align: center; font-size:12px">
													<h:outputText value="#{objeto.year} " style="font-size:11px" />
												</p:column>	
												
												<p:column class="sorting_asc" headerText="Editar" width="10"
													 style="text-align: center">
													<p:button title="Editar" icon="fa fa-pencil-square-o"
														outcome="pretty:car_update"
														ajax="false" onclick="PF('statusDialog').show()">
														<f:param name="idCar" value="#{objeto.id}"></f:param>
													</p:button>
												</p:column>
												
												<p:column class="sorting_asc" headerText="Excluir" width="10"
													 style="text-align: center">
													<p:button title="Excluir" icon="fa fa-trash-o"
														outcome="pretty:car_delete"
														ajax="false" onclick="PF('statusDialog').show()">
														<f:param name="idCar" value="#{objeto.id}"></f:param>
													</p:button>
												</p:column>
												
											</p:dataTable>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


            </div>

        </div>

        </div>
        </div>
		</h:form>
	</ui:define>
</ui:composition>
