<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<link href="#{facesContext.externalContext.requestContextPath}/css/bootstrap.min.css" rel="stylesheet" />	
	<link href="#{facesContext.externalContext.requestContextPath}/font-awesome/css/font-awesome.css" rel="stylesheet" />	
	<link href="#{facesContext.externalContext.requestContextPath}/css/animate.css" rel="stylesheet" />	
	<link href="#{facesContext.externalContext.requestContextPath}/css/style.css" rel="stylesheet" />	

</h:head> 
<h:body>

	   <div class="row border-bottom white-bg">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="#" class="navbar-brand">TESTE CAED JSF</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a aria-expanded="false" role="button" href="layouts.html">Index</a>
                    </li>

                </ul>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
	  <!-- Mainly scripts -->
	<script src="#{facesContext.externalContext.requestContextPath}/js/jquery-2.1.1.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/bootstrap.min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	
	<!-- Custom and plugin javascript -->
	<script src="#{facesContext.externalContext.requestContextPath}/js/inspinia.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/plugins/pace/pace.min.js"></script>
	
	<!-- Flot -->
	<script src="#{facesContext.externalContext.requestContextPath}/js/plugins/flot/jquery.flot.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/plugins/flot/jquery.flot.resize.js"></script>
	
	<!-- ChartJS-->
	<script src="#{facesContext.externalContext.requestContextPath}/js/plugins/chartJs/Chart.min.js"></script>
	
	 <!-- Peity -->
	 <script src="#{facesContext.externalContext.requestContextPath}/js/plugins/peity/jquery.peity.min.js"></script>
	 
	  <!-- Peity demo -->
	 <script src="#{facesContext.externalContext.requestContextPath}/js/demo/peity-demo.js"></script>
	
   
</h:body>
 
</html>