<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:head>
		<link
			href="#{facesContext.externalContext.requestContextPath}/css/bootstrap.min.css"
			rel="stylesheet" />
		<link
			href="#{facesContext.externalContext.requestContextPath}/font-awesome/css/font-awesome.css"
			rel="stylesheet" />
		<link
			href="#{facesContext.externalContext.requestContextPath}/css/animate.css"
			rel="stylesheet" />
		<link
			href="#{facesContext.externalContext.requestContextPath}/css/style.css"
			rel="stylesheet" />

</h:head>

<h:body class="top-navigation">
	<div id="header">
		<ui:include src="header.xhtml" />
	</div>
	
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
		closable="false" resizable="false" showHeader="false">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</p:dialog>

	<div>
		<ui:insert name="corpo" />
	</div>
	
	<!-- Mainly scripts -->
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/jquery-2.1.1.js"></script>
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/bootstrap.min.js"></script>
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Custom and plugin javascript -->
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/inspinia.js"></script>
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/plugins/pace/pace.min.js"></script>

	<!-- Flot -->
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/plugins/flot/jquery.flot.js"></script>
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/plugins/flot/jquery.flot.resize.js"></script>

	<!-- ChartJS-->
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/plugins/chartJs/Chart.min.js"></script>

	<!-- Peity -->
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/plugins/peity/jquery.peity.min.js"></script>

	<!-- Peity demo -->
	<script
		src="#{facesContext.externalContext.requestContextPath}/js/demo/peity-demo.js"></script>

	<script>
        $(document).ready(function() {


            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084'},
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 40, 51, 36, 25, 40]
                    },
                    {
                        label: "Example dataset",
                        fillColor: "rgba(26,179,148,0.5)",
                        strokeColor: "rgba(26,179,148,0.7)",
                        pointColor: "rgba(26,179,148,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(26,179,148,1)",
                        data: [48, 48, 60, 39, 56, 37, 30]
                    }
                ]
            };

            var lineOptions = {
                scaleShowGridLines: true,
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleGridLineWidth: 1,
                bezierCurve: true,
                bezierCurveTension: 0.4,
                pointDot: true,
                pointDotRadius: 4,
                pointDotStrokeWidth: 1,
                pointHitDetectionRadius: 20,
                datasetStroke: true,
                datasetStrokeWidth: 2,
                datasetFill: true,
                responsive: true,
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

        });
    </script>
</h:body>

</html>